.Experience input {
  width: -webkit-fill-available;
  padding: 10px;
  color: black;
  border: none;
  border-radius: 6px;
  background: none;
}

.Experience input:focus {
  background-color: transparent;
  outline: none;
}

.Experience input:hover {
  background-color: transparent;
  outline: none;
}