.App {
  margin: 4rem auto;
  width: 75vw;
  min-width: min-content;
  border: 24px solid white;
  background-color: antiquewhite;
  font-size: 16px;
}

.content {
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: row nowrap;
}

.side {
  display: flex;
  flex-flow: column nowrap;
  box-sizing: border-box;
  min-width: 32vh;
  max-width: 32vh;
  background-color: bisque;
  padding: 1rem;
}

.main {
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  gap: 1rem;
  padding: 1rem;
}

.main form {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: fit-content;
  margin: auto;
  gap: 1rem;
}

.main .date {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  text-align-last: center;
  gap: 1rem;
}

.main textarea {
  width: 100%;
  resize: none;
  box-sizing: border-box;
  outline: none;
  border: none;
  border-radius: 6px;
  background-color: whitesmoke;
  padding: 1rem;
}

input {
  margin:0;
  width: -webkit-fill-available;
  padding: 10px;
  color: black;
  border: none;
  border-radius: 6px;
  background-color: whitesmoke;
}

input:focus {
  outline: 1px gray solid;
}

input[type=date] {
  background: none;
}

textarea:focus {
  outline: 1px gray solid;
}

h1,
h3 {
  margin: 1rem 0;
}

button {
  width: fit-content;
  margin: 1em 0;
  height: auto;
  text-align: right;
  font-size: 14px;
  font-weight: 600;
  background-color: transparent;
  border: 1px solid black;
  color: black;
  padding: 8px 24px;
  border-radius: 1em;
  box-shadow: 0px 0px 16px -4px rgb(0 0 0 / 25%);
  float: right;
}
/*


label {
  font-size: 14px;
  color: rgb(50, 50, 50);
}



.content {
  display: flex;
  flex-direction: row;
}


.side {
  margin-right: auto;
  background-color: white;
  border: dashed gray;
}

.main {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: flex-start;
  gap: 16px;
  border: dashed gray;
}

.textarea {
  display: block;
  padding: 10px;
}

textarea {
  display: block;
  width: 100%;
  padding: 10px;

}

textarea:focus {
  outline: 1px gray solid;
}

input:focus {
  outline: 1px gray solid;
}

input[type=date] {
  background: none;
}

input {
  display: block;
  width: 230px;
  min-width: fit-content;
  margin: 10px;
  padding: 10px;
  color: black;
  border: none;
  border-radius: 6px;
  background-color: whitesmoke;
}

.date {
  display: flex;
}
*/
