.App {
  margin: 0;
  border: 24px solid white;
  background-color: orange;
  font-size: 16px;
}

form {
  width: 60%;
  min-width: fit-content;
  margin: auto;
  background-color: white;
  border: 1px white solid;
}

label {
  font-size: 14px;
  color: rgb(50, 50, 50);
}

h1,
h3 {
  margin: 10px;
  font-size: 24px;
  font-weight: 500;
}

.content {
  display: flex;
  flex-direction: row;
}


.side {
  margin-right: auto;
  background-color: white;
  border: dashed gray;
}

.main {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: flex-start;
  gap: 16px;
  border: dashed gray;
}

.textarea {
  display: block;
  padding: 10px;
}

textarea {
  display: block;
  width: 100%;
  padding: 10px;
  resize: none;
  box-sizing: border-box;
  outline: none;
  border: none;
  border-radius: 6px;
  background-color: whitesmoke;
}

textarea:focus {
  outline: 1px gray solid;
}

input:focus {
  outline: 1px gray solid;
}

input[type=date] {
  background: none;
}

input {
  display: block;
  width: 230px;
  min-width: fit-content;
  margin: 10px;
  padding: 10px;
  color: black;
  border: none;
  border-radius: 6px;
  background-color: whitesmoke;
}

.date {
  display: flex;
}

button {
  margin: 10px;
  height: auto;
  text-align: right;
  font-size: 14px;
  font-weight: 600;
  background-color: transparent;
  border: 1px solid black;
  color: black;
  padding: 8px 16px;
  border-radius: 16px;
  box-shadow: 0px 0px 36px 4px rgba(0, 0, 0, 0.2);
  float: right;
}