.Personal {
  margin: 0;
  display: flex;
  align-items: center;
  flex-direction: row;
  background-color: bisque;
}

.Personal input {
  background: none;
}

.Personal input:focus {
  background-color: transparent;
  outline: none;
}

.Personal input:hover {
  background-color: transparent;
  outline: none;
}

.header {
  margin-left: 48px;
}

.headline {
  margin-bottom: 1rem;
}

.headline input:first-child {
  font-size: 24px;
  font-weight: 800;
  margin-bottom: -0.5em;
}

.headline input:last-child {
  font-size: 24px;
  font-weight: 500;
}

.details {
  display: flex;
  flex-flow: column nowrap;
}

.details input {
  width: 360px;
  min-width: fit-content;
  margin-top: -0.5em;
}

.photo {
  display: flex;
  background-color: antiquewhite;
  margin: 0px;
  min-height: 32vh;
  min-width: 32vh;
}

.photo>div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  margin: auto;
  color: black;
}